
<!DOCTYPE html>
<html>
    <head>
        <title>Time Manager</title>
        <link href="/res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="/res/bootstrap/js/bootstrap.min.js"></script>
        <script src="/res/js/timemanager.js"></script>
            
    </head>
    <body >
        <div class="container" id = "mainContainer">
            <div class="jumbotron">
            <p><h1>欢迎您，{{ username }}!</p>  
            <p><h2>
                <input  onkeydown=keyHandler(event,'recordTime') id = 'content' style="border-color:   #3333FF   #FF3333   #000000   #FF33FF;   border-width:   0pt;   border-right-width:   0pt;   border-bottom-width:   1pt;   border-left-width:   0pt;  text-align:center; padding:10pt;"  placeholder = "What have you done?" align = 'middle' size = '50' ></h2>
            </p>
             <input  onclick=getHistory() id = 'content' type = 'button' value = "查看历史事项"></h2>

        </div>
    </div>
        
        
    </body>
</html>

</div>
